.welcome-button {
    background-color: rgb(255, 85, 204);
    padding: 10px 50px;
    border-radius: 10px;
    outline: none;
    color: white;
    font-size: 5px;
    font-weight: 600;
    
   
}

.button-welcome{
    width: 100%;
    background-color: pink;
    margin: auto;
}