

*{
    padding: 0;
    margin: 0;
}





@media (min-width: 100px) and (max-width: 504px) {
    .content {
        display: block;
    }
    .notcellphone{
        display: none;
    }
  }

@media (min-width: 505px) {
    .content {
        display: none;
    }
    .notcellphone {
        display: block;
    }
    .cp_content{
        display: 'flex';
        justify-content: center;
        align-items: center;
        margin-top: 300px;
        text-align: center;
        
    }
}